<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Teacher Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header class="shadow bg-light">
    <div class="left_area">
      <h3>Paper Showing System</h3>
    </div>
    <div class="right_area">
      <a href="/logout" class="logout_btn">Logout</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <center>
      {% if request.user.teacher.profile_pic %}
        <img src="{{ request.user.teacher.profile_pic.url }}" class="profile_image" alt="Teacher Profile">
      {% else %}
        <img src="{% static 'image/teacher-avatar.png' %}" class="profile_image" alt="Default Teacher">
      {% endif %}
      <h4>{{request.user.first_name}}</h4>
      <h6 style="color: rgb(255, 255, 255);">( Teacher )</h6>
    </center>

    <a href="/teacher/teacher-dashboard/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
    <a href="/studentprofile/teacher/upload/"><i class="fas fa-upload"></i><span>Upload Excel Papers</span></a>
    <a href="/teacher/teacher-exam/"><i class="fas fa-book"></i><span>Manage Courses</span></a>
    <a href="/teacher/teacher-question/"><i class="fas fa-question-circle"></i><span>Manage Questions</span></a>
    <a href="/teacher/teacher-view-pending-student/"><i class="fas fa-user-check"></i><span>Pending Student Approvals</span></a>
  </div>
  <!--sidebar end-->


  <!--content start-->
  <div class="content">
    {% block content %}

    {% endblock content %}


    <br><br><br>
    {% include "exam/footer.html" %}
  </div>
  <!--content end-->
  {% include "chat/chat_widget.html" %}
</body>

</html>
