<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "exam/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">HELLO TEACHER,</h1>
    <p class="lead">WELCOME TO LJ UNIVERSITY</p>
    <hr class="my-4">
    <p>START YOUR JOURNEY HERE!</p>
    <p class="lead">
      <a class="btn btn-secondary rounded-0" href="{% url 'teachersignup' %}" role="button">Create Your Account</a>
      <a class="btn btn-primary rounded-0" href="{% url 'teacherlogin' %}" role="button">Login Now</a>
    </p>
    <br><br><br><br><br><br>
  </div>
 
  {% include "exam/footer.html" %}
</body>

</html>
